ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Add this line to make the logo 50% smaller */
}


.ion-slides{
  height:100%
}
.ion-slide {
  display: block;
}

.ion-slide img {
  padding: 10%
}

.slider-text {
  padding-top: 20%;
}

.slider-text h1 {
  font-family: 'Montserrat-Bold'
}
.h2 {
  font-family: 'SCRIPTBL';
}

.navigator {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom:0;
}

.swiper-pagination {
  width: 50% !important;
  left: 25% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 2px solid var(--bullet-background-active);
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.seperatebtn{
  display: flex;
  justify-content: right;
  align-items: center;

}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  color: #000080;
}


ion-toolbar{
  --ion-background-color: transparent;
  --opacity:0;
}

ion-card{
  background-color: transparent !important;
  padding: 0 !important;
}



ion-card-title{
  margin-top: 30px;
  font-size: 20px;
  color:#ffffff;
  text-align:center;
  font-weight: 600;
}

ion-card-subtitle{
  padding-top: 15px;
  font-size:11px;
  color:#570808;
  text-align: center;
  font-weight: 300;
}

ion-header{
  position: absolute;
}

ion-card{
  --ion-background-color:transparent;
box-shadow: none !important;
}

.signin-btns{
  margin-top: 35px;
  text-align: center;
  color:#F0F4FA;
}

.loginbtn{
  --ion-color-primary:#215AB7;
}


.social-btns{
  margin-top: 30px;
  text-align: center;
  ion-button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
    display: inline-flex;
    justify-content: space-around;
  }
}

form {
  padding-top: 10px;
}
.inputs {
border-radius: 10px;
border: 1px solid #060150;
margin-bottom: 15px;
--highlight-background: transparent;
--border-width: 0 0 0px 0;
}
ion-button.signin {

height: 50px;
--border-radius: 50px !important;
font-weight: bold;
letter-spacing: 1px;
margin: 0;
}
ion-button.signup {
text-transform: capitalize;
text-decoration: underline;
--box-shadow: none !important;
letter-spacing: 1.7px;
margin-top: 10px;
}
.or {
letter-spacing: 1px;
display: flex;
align-items: center;
justify-content: center;
color: #ffffff;
position: relative;
border-bottom: 1px solid;
padding-top: 20px;
}
.or ion-text {
font-size: 17px;
background: #fffb08;
width: 70px;
height: 40px;
position: absolute;
display: flex;
justify-content: space-around;
text-shadow: 0px 0px 1px;
}
.line {
width: 100%;
align-items: center;
display: flex;
justify-content: space-evenly;
}
ion-input {
--placeholder-color: rgb(33, 33, 54) !important;
}
@media screen and (max-width: 480px) {
.social-btns ion-button {
  width: 130px;
}
}
@media screen and (max-width: 320px) {
.social-btns ion-button {
  width: 110px;
}
}
