<ion-content color=>
  <img src="assets/logo.png" alt="Logo">
  <h1>
    &nbsp;
  </h1>
  <h1>
    &nbsp;
  </h1>
  <h1>
    &nbsp;
  </h1>
  <h1>
    &nbsp;
  </h1>
  <h1>
    &nbsp;
  </h1>
  <ion-card>
    <ion-card-content>
      <form #form="ngForm">
        <ion-grid class="ion-no-padding">
          <ion-row color="primary" justify-content-center>
            <ion-col
              align-self-center
              size-md="12"
              size-lg="12"
              size-xs="12"
              class="ion-no-padding"
            >
              <div padding>
                <ion-item color="light" class="inputs">
                  <ion-input
                    name="email"
                    type="email"
                    placeholder="Enter your email"
                    id="email"
                    ngModel
                    required
                  ></ion-input>
                </ion-item>
                <p></p>
                <ion-item color="light" class="inputs">
                  <ion-input
                    name="password"
                    type="password"
                    placeholder="Enter your password"
                    id="password"
                    ngModel
                    required
                  ></ion-input>
                  <ion-icon color="medium" name="eye-off-outline"></ion-icon>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <h1>
        &nbsp;
      </h1>
      <div class="buttons">
        <ion-button
          class="signin"
          color="tertiary"
          expand="block"
          [routerLink]="['//tabs/tab1']"
          >LOGIN</ion-button
        >
        <ion-button
          class="signup"
          color="tertiary"
          expand="block"
          [routerLink]="['/signup']"
          >or Sign up first time user</ion-button
        >
      </div>
      <div class="social-btns">

      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

