ion-tab-bar {
  --background: linear-gradient(to bottom, #a43185, #501841); // Adjust color codes as needed
}

ion-tab-button {
  --color-selected: #d88352; // Text color when tab is selected
  --color: #ddbdd5; // Text color when tab is not selected
}
