ion-tab-bar {
  --background: linear-gradient(to bottom, #EC5800, #ab4002); // Adjust color codes as needed
}

ion-tab-button {
  --color-selected: #ddbdd5; // Text color when tab is selected
  --color: #f7ebec; // Text color when tab is not selected
}
