<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="category-item">
        <a [routerLink]="['/basics']">
          <img src="assets/basics.png" alt="Basics Category">
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="category-item">
        <a [routerLink]="['/left-turn']">
          <img src="assets/left-turn.png" alt="Left Turn Category">
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="category-item">
        <a [routerLink]="['/right-turn']">
          <img src="assets/right-turn.png" alt="Right Turn Category">
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="category-item">
        <a [routerLink]="['/half-turn']">
          <img src="assets/half-turn.png" alt="Half Turn Category">
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
