<ion-content class="ion-padding">
  <!-- Video Section -->
  <ion-row>
    <ion-col size="12" size-md="8" offset-md="2">
      <iframe width="100%" height="250" src="https://www.youtube.com/embed/OrVqwvcd2WE" frameborder="0" allowfullscreen></iframe>
    </ion-col>
  </ion-row>

  <!-- Text and Button Section -->
  <ion-row>
    <ion-col size="12" size-md="8" offset-md="2">
      <p class="text">
        Learn Chicago Stepping from instructor Moe. Moe is a good choice for the average stepping learner.
      </p>
      <a [href]="'mailto:learn2step@gmail.com'" class="email-button ion-text-center">Email Moe</a>
    </ion-col>
  </ion-row>
</ion-content>
