.text {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

.email-button {
  display: block;
  margin: 20px auto;
  max-width: 200px;
  padding: 10px 20px;
  background-color: #EC5800;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}
