ion-content {

  ion-padding {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;

    iframe {
      max-width: 100%;
      position: relative;
      z-index: 2;
    }
  }
}

