ion-tab-bar {
  --background: linear-gradient(to bottom, #800080, #2E0854); // Adjust color codes as needed
}

ion-tab-button {
  --color-selected: #ffffff; // Text color when tab is selected
  --color: #ffffff; // Text color when tab is not selected
}
